---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL

toc_footers:
  - <a href='https://app.actiun.com'>Crea Tu Cuenta en Actiun</a>

includes:
  - contacts
  - items
  - errors

search: true
---

# ¡Bienvenido a Actiun!

El API de Actiun es un servicio que te permite acceder a tu cuenta para conectar aplicaciones externas y tener acceso instantaneo a tu información.

Para poder tener acceso al API debes crear tu cuenta en Actiun. [Crea tu cuenta aquí](https://app.actiun.com)

En esta documentación encontraras los endpoints con los cuales podrás interacturar.


## Petición

El URL base para todos los recursos es: <%= endpoint_url %>

## Páginación

Todos los endpoints que sean un listado de objetos serán paginados autmaticamente. Cada página constará de `25` registros por página.

Puedes especificar que página deseas acceder utilizando el parametro de `page` en el URL del endpoint.

`GET /clients?page=2`

Si el parámetro page es omitido se entegará la primer página disponible usando el valor 1.

# Autenticación


```shell
curl "<%= endpoint_url %>/clients" \
  -H "Authorization: {LLAVE_PRIVADA}"
```

Actiun utiliza Basic Access como método de autenticación. Todos los request que se realicen deben incluir el header Authorization.

<aside class="notice">
Recuerda remplazar la llave {LLAVE_PRIVADA} con la tuya.
</aside>
